* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'league_spartanbold';
    src: url('/leaguespartan-bold-webfont.woff') format('woff2'),
         url('/leaguespartan-bold-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'american_typewriter';
    src: url('/American\ Typewriter\ Regular.eot') format('eot'), 
        url('/American\ Typewriter\ Regular.eot\ 2') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'phosphateinlineroman';
    src: url('phosphateinline-webfont.woff2') format('woff2'),
         url('phosphateinline-webfont.woff') format('woff'),
         url('phosphateinline-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: futura-pt, league_spartanbold;
    background: rgb(0, 0, 0);
    color: rgb(231, 231, 231);
    font-size: .9rem;
    line-height: 1.5;
}

a {
    color: #e6e6e6;
    text-decoration: none;
    
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Split Box */
.whatImage {
    height: 100%;
}
#landing-area {
    position: fixed;
    align-content: center;
    /* float: left;
    margin: 0 auto; */
    /* top: 0;
    bottom: 0;
    left: 0; */
}
#black_background {
    position: relative;
    background-color: rgb(0, 0, 0);
    z-index: 100;
}
/* @media (max-width: 1510px) {
    #landing-area {
        right: 15vw;
    }
} */
    
#box-left {
    width: 20vw;
    height: 92vh;
    float: left;
    clip-path: polygon(0 0, calc(100% - 10vh) 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, calc(100% - 10vh) 0, 100% 100%, 0 100%);
    margin-right: -4.2vh;
    /* transform: translate(-50%, -50%); */
    text-align: center;
}

.whatImage {
    transition: all .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    z-index: -100;
}

.whatImage:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transform: scale(1.08);
    transform: scale(1.05);
}
#box-right {
    width: 24.8vw;
    height: 92vh;
    float: left;
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 10vh) 100%);
    -webkit-clip-path: polygon(0 0, calc(100% - 10vh) 0, 100% 100%, calc(0% + 10vh) 100%);
    margin-left: -4.2vh;
    /* background-image: url('./jpeg/whatImage2.jpg');
    background-repeat:no-repeat; */
    text-align: center;
    object-fit: fill;
}
#box-3 {
    width: 24.8vw;
    height: 92vh;
    float: left;
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 10vh) 100%);
    -webkit-clip-path: polygon(0 0, calc(100% - 10vh) 0, 100% 100%, calc(0% + 10vh) 100%);
    margin-left: -8.4vh;
    text-align: center;
    object-fit: fill;
}
#box-4 {
    width: 20vw;
    height: 92vh;
    float: left;
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 10vh) 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 10vh) 100%);
    margin-left: -8.4vh;
    text-align: center;
    object-fit: fill;
}

/* Nav */
.main-nav {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    font-size: 1rem;
    justify-content: space-between;
}

.main-nav .logo {
    width: 170px;
    margin-top: 7px;
}

.main-nav ul {
    display: flex;
    z-index: 10;
}

.main-nav ul li {
    padding: 0 10px;
}
/* hover underline spacing */
.main-nav ul li a {
    padding-bottom: 2px;
}
/* hover underline */
.main-nav ul li a:hover {
    border-bottom: 2px solid rgb(226, 178, 46);
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}
/* Hamburger */
.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
}
 /* button */
.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
}
/* button hover */
.btn:hover {
    opacity: 0.9;
}

.dark {
    color: #fff;
}

.dark .btn {
    background: #f4f4f4;
    color: #333;
}

/* Showcase */
.showcase {
    width: 100%;
    height: 390px;
    background: url('./background/WD_mainBG.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.showcase h2, .showcase p {
    margin-bottom: 10px;
}

.showcase .btn {
    margin-top: 20px;
}

/* Home Cards */
.home-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
    z-index: 1;
}

.home-cards img, .home-cards-2 img {
    width: 100%;
    margin-bottom: 20px;
}

.home-cards h3, .home-cards-2 h3 {
    margin-bottom: 5px;
}

.home-cards a, .home-cards-2 a {
    display: inline-block;
    padding-top: 10px;
    color: rgb(226, 178, 46);
    text-transform: uppercase;
    font-weight: bold;
}

.home-cards a:hover i {
    margin-left: 10px;
}

.home-cards-2 a:hover {
    color: #e6e6e6;
}
/*
@media(min-width: 901px) {
    .home-cards-2 p {
        font-size: 2rem;
    }

    .home-cards-2 h3 {
        padding: 270px 0 0 0;
        font-size: 2rem;
    }
}

@media(max-width: 900px) {
    .home-cards-2 p {
        font-size: 2rem;
    }

    .home-cards-2 h3 {
        padding: 200px 0 0 0;
        font-size: 2rem;
    }
}*/

@media(min-width: 701px) {
    .home-cards-2 p {
        font-size: 1.5rem;
    }

    .home-cards-2 h3 {
        padding: 50px 0 0 0;
        font-size: 1.5rem;
    }
}

@media(min-width: 701px) {
    #img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8, #img9, #img10, #img11, #img12 {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    #img1:hover, #img2:hover, #img3:hover, #img4:hover, #img5:hover, #img6:hover, #img7:hover, #img8:hover, #img9:hover, #img10:hover, #img11:hover, #img12:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.05);
    }
    .overlay {
        background-color: rgba(46, 0, 0, 0.445);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 0;
    }
    
    .overlay:hover {
        opacity: 1;
    }
}

/* Home Cards 2 */
.home-cards-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
    z-index: 1;
}

/* Bio */
.bio {
    margin-top: 102vh;
    height: 400px;
    width: 100%;
    background: url('./jpeg/about-me-profile5.jpg') no-repeat center center/cover;
    margin-bottom: 20px;
}

.bio .content {
    width: 40%;
    padding: 50px 0 0 30px;
    font-size: 20px;
}

.bio .content a.btn:hover {
    background: rgb(226, 178, 46);
}

.bio div.content h2 span, .bio div.content p span {
    color: #f2f2f2;
    background: #0e0e0e;
    opacity: 0.8;
    padding: 5px;
}

.bio p, .carbon p {
    margin: 10px 0 20px;
}

/* Carbon */
.carbon {
    height: 500px;
    width: 100%;
    background: url('./jpeg/pc3.jpg') no-repeat center center/cover;
}

.carbon .content {
    width: 55%;
    padding: 100px 0 0 30px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin: 50px 0 40px 0;
}

/* Follow */

.follow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.follow * {
     margin-right: 10px; 
 }

 /* Links */
.links {
     background: #f2f2f2;
     color: #616161;
     font-size: 12px;
     padding: 35px 0;
 }

.links-inner {
     max-width: 1100px;
     margin: 0 auto;
     padding: 0 20px;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 10px;
     align-items: flex-start;
     justify-content: center;
 }

.links li {
     line-height: 2.8;
 }
 /* Hover on Right-Menu */
 .fa-instagram:hover{
    color:rgb(226, 178, 46) !important;
 }

 /* Footer */
.footer {
     /* background: #2E0000; */
     background: rgb(0, 0, 0);
     color: #f2f2f2;
     font-size: 12px;
     padding: 20px 0;
 }

.footer-inner {
     max-width: 1100px;
     margin: 0 auto;
     /* padding: 0 20px 0 20px; */
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

.footer div {
     margin-bottom: 20px;
     display: flex;
     align-items: center;
 }

.footer div i {
    margin-right: 10px;
}

.footer ul {
     display: flex;
     flex-wrap: wrap;
 }

.footer li {
     margin-right: 30px;
     margin-bottom: 20px;
 }

 @media(max-width: 700px) {
    .menu-btn {
        display: block;
    }

    .menu-btn:hover {
        opacity: 0.5;
    }

    .main-nav ul.right-menu {
        margin-right: 50px;
    }

    .main-nav ul.main-menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(17, 17, 17);
        width: 50%;
        height: 100vh;
        transform: translateX(-500px);
        border-right: rgba(204, 204, 204, 0.479) 1px solid;
        opacity: 0.9;
        padding: 30px;
        z-index: 1001;
    }

    .main-nav ul.main-menu li {
        padding: 10px;
        border-bottom: rgb(226, 178, 46) 1px solid;
        font-size: 1.8rem;
    }

    .main-nav ul.main-menu li a {
        color: rgb(236, 236, 236);
    }

    /*.main-nav ul.main-menu li:last-child {
        border-bottom: 0;
    }*/

    .main-nav ul.main-menu li:first-child {
        border-top: 0;
    }

    .main-nav ul.main-menu.show {
        transform: translateX(-20px);
    }

    .home-cards {
         grid-template-columns: repeat(2, 1fr);
    }

    .bio .content p {
         display: none;
    }

    .bio .content h2 {
         margin-bottom: 20px;
    }

    .carbon .content {
         width: 85%
    }

    .links .links-inner {
         grid-template-columns: repeat(2, 1fr);
    }
 }

 @media(max-width: 500px) {
    .home-cards, .home-cards-2 {
        grid-template-columns: 1fr;
    }

    .links .links-inner {
        grid-template-columns: 1fr;
    }

    .links .links-inner ul {
        margin-bottom: 20px;
    }
 }
/* Modal */

@media(min-width:701px) {
    #modal {
        zoom: 1.15;
        -moz-transform: scale(1.15);
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        text-align: middle;
    }
}

/* @media(min-width:1240px) {
    #split_container {
        display: none;
    }
}

@media(max-width:1239px) {
    #landing-area {
        display: none;
    }
    #split_container {
        position: relative;
    }
    #split_image img {
        position: absolute;
        float: left;
        width: 90vw;
        height: 80vh;
    }
    #case-studies {
        margin-top: 80vh;
        padding: 2rem 0 0 0;
    }
} */

@media(max-width:700px) {
    #modal {
        zoom: 0.80;
        -moz-transform: scale(0.80);
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        text-align: middle;
    }
}

@media(max-width:500px) {
    #modal {
        zoom: 0.55;
        -moz-transform: scale(0.55);
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        text-align: middle;
    }
    /* #case-studies {
        margin-top: 200px;
        padding: 2rem 0 0 0;
    } */
}

  #modal {
    z-index: 1001;
    width: 600px;
    height: 390px;
    background-color: black;
    animation: fadeIn 1s, slideIn 1.5s linear;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(46, 214, 226);
  }

  #modal:hover {
    box-shadow: 0px 0px 50px rgb(46, 214, 226);
  }

  #modal_image {
    height: 390px;
    width: 100%;
    border-radius: 10px;
  }

  .modal_words {
      font-family: Phosphate; 
      text-align: center;
      font-size: 1.5rem;
  }

  #modal_words_vertical_center {
      background-color: black;
      padding: 2rem 0;
      position: absolute;
      top: 17%;
      right: 10%;
  }

    #modal_content {
        position: absolute;
        column-count: 2;
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 1;
        z-index: 30;
    }

    #modal_content:hover {
        opacity: 0;
    }

    #modal_bottom_layer img {
        column-count: 2;
        height: 390px;
        width: 49%;
        border-radius: 10px;
    }

    #modal_bottom_text ul {
        font-family: Phosphate;
        font-size: 1.5rem;
        text-align: center;
        position: relative;
        left: 150px;
        bottom: 298px;
    }

    #modal_bottom_i p {
        font-family: american_typewriter;
        color: aqua;
        font-size: 18rem;
        text-align: center;
        position: relative;
        left: 150px;
        bottom: 600px;
        z-index: -100;
    }

  @keyframes slideIn {
    0% {
      transform: translateY(400px);
      animation-timing-function: ease-out;
    }
    60% {
      transform: translateY(-30px);
      animation-timing-function: ease-in;
    }
    80% {
      transform: translateY(10px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-in;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.hidden {
    display: none;
}

#opacityBackground {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.801);
}

/* Spotify */
.spotify {
    /* position: sticky;
    float: left;
    overflow: hidden;
    max-width: 50%;
    top: 0;
    bottom: 0;
    left: 0; */
    margin-top: 2rem;
}

#down_arrow a {
    position: absolute;
    bottom: 0;
    right: 49%;
    /* color: rgb(226, 178, 46); */
    color: magenta;
}

#down_arrow_2 a {
    position: absolute;
    bottom: 0;
    right: 49.25%;
    bottom: 0.25;
    color: aqua;
    z-index: 100;
}

#case-studies {
    margin-top: 100vh;
    padding: 2rem 0 0 0;
}
@media(max-width: 1100px){
    #box-left, #box-4 {
        display: none;
    }
    #box-3, #box-right {
        width: 45vw;
        margin: auto;
    }
    #box-3, #box-right {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    #down_arrow_2, #down_arrow {
        right: 45%;
    }
}
@media(max-width: 700px){
    #box-left, #box-4, #box-right {
        display: none;
    }
    #box-3 {
        width: 90vw;
        margin: auto;
    }
    #box-3 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    /* Down Arrow Placement */
    #down_arrow_2 a {
        right: 45.25%;
    }
    #down_arrow a {
        right: 45%;
    }
}

/* @media(max-width: 899px) {
    #box-right, #box-3 {
        display: none;
    }
    #box-left, #box-4 {
        width: 45vw;
        margin: auto;
    }
    #box-3 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    #down_arrow_2, #down_arrow {
        right: 45%;
    }
}

@media(min-width: 900px) {
    #box-left, #box-4, #box-3, #box-right {
        display: block;
    }
} */


/* @media(max-width: 1500px) {
    .whatImage {
        visibility: hidden;
    }
} */

#method_pngs {
    height: auto;
    width: 100%;   
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}